<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hairbechecked">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HairBeChecked"
        tools:targetApi="31">
        <activity
            android:name=".RankingActivity"
            android:exported="false" />
        <activity
            android:name=".TestGeminiActivity"
            android:exported="false" />
        <activity
            android:name=".GeminiService"
            android:exported="false" />
        <activity
            android:name=".Comparepage"
            android:exported="false" />
        <activity
            android:name=".Opening"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Progressivebar"
            android:exported="false" />
        <activity
            android:name=".HairshopReccomendingPage"
            android:exported="false" />
        <activity
            android:name=".HairRecommendingPage"
            android:exported="false" />
        <activity
            android:name=".Fileupload"
            android:exported="false" />
        <activity
            android:name=".MainPage"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".Sign_up"
            android:exported="false" />
        <activity
            android:name=".history.HistoryActivity"
            android:exported="false" /> <!-- ⭐⭐⭐ 스타일 인기순위 Activity 추가 ⭐⭐⭐ -->
        <activity
            android:name=".StyleRankingActivity"
            android:exported="false"
            android:label="스타일 인기순위"
            android:parentActivityName=".HairRecommendingPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HairRecommendingPage" />
        </activity>
    </application>

</manifest>